/* Common Shared Styles */

body{
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}
.fa-solid{
    margin-right: 7px;
}

/* Nav Related Style */

.Navber-Container{
    width: 100%;
    height: 100vh;
    background-color: #e554732c;
    display: flex;
    gap: 150px;
    overflow: hidden;
}
.Navber-Container-Area-Image > img{
    width: 100%;
    height: 101.05vh;
}
.Navber-Content-Area{
    width: 500px;
    padding: 110px 0px 0px 110px;
}
.Navber-Content-Area-Heading{
    width: 600px;
    margin: 0px;
    font-size: 60px;
    line-height: 70px;
    color: #272727;
}
.Navber-Content-Area-Discription{
    width: 634px;
    height: 90px;
    color: #272727bb;
    font-size: 18px;
    margin: 10px 0px 0px 0px;
}
/* .Navber-Content-Image > img{
    width: 480px;
    height: 570px;
    padding-top: 10.05px;
} */
.Navber-Content-Area-Button{
    padding: 17px 40px;
    background-color: #E55473;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
}
.container{
    width: 300px;
    height: 400px;
    background-color: #A72162;
    margin: 100px;
    border-radius: 200px 200px 0px 0px;
}

/* Main Section Related Styles */

/* Secend Section Styles */

#Secend-Section{
    max-width: 1000px;
    margin: 0 auto;
}
.Featured-Flowers{
    width: 594px;
    height: 132px;
    text-align: center;
    margin: 0 auto;
}
.Featured-Flowers-Heading{
    font-size: 40px;
    margin: 80px 0px 0px 0px;
}
.Featured-Flowers-Description{
    font-size: 18px;
    margin: 10px 0px;
    color: #272727;
}
.Featured-Flowers-Container{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.Featured-Flower-Section-One{
    width: 300px;
    height: 400px;
    background-color: #e554732c;
    border-radius: 200px 200px 0px 0px;
}
.Featured-Flower-Section-One > img{
    width: 200px;
    height: 300px;
    display: block;
    padding: 100px 0px 0px 50px;
}
.Featured-Flower-Section-Two{
    width: 300px;
    height: 400px;
    background-color: #0598a055;
    border-radius: 200px 200px 0px 0px;
}
.Featured-Flower-Section-Two > img{
    width: 350px;
    height: 400px;
    display: block;
    padding: 60px 0px 0px 8px;
}
.Featured-Flower-Section-Three{
    width: 300px;
    height: 400px;
    background-color: #477d1151;
    border-radius: 200px 200px 0px 0px;
}
.Featured-Flower-Section-Three > img{
    width: 305px;
    height: 340px;
    display: block;
    padding: 60px 0px 0px 1px;
}
.Pink-Flower-Tree-Container{
    display: flex;
    justify-content: space-around;
    font-weight: bold;
}

/* Third Section Styles */

.Third-Section{
    max-width: 1000px;
    margin: 0 auto; 
}
.Third-Section-Container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: #27272765;
    padding: 50px 0px 30px 0px;
    margin: 50px 0px 70px 0px;
}

/* Forth Section Styles */

.Forth-Section{
    background-color: #e554732c;
    width: 100%;
    height: 450px;
    margin-bottom: 60px;
}
.Forth-Section-Container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}
.Hot-Deal-Heading{
    font-size: 40px;
    margin-bottom: 0px;
}
.Hot-Deal-Heading > span{
    color: #E55473;
}
.Hot-Deal-Description{
    font-size: 18px;
    margin: 10px 0px 20px 0px;
    color: #2727279d;
}
.Hot-Deal-Button{
    padding: 17px 40px;
    background-color: #E55473;
    border: none;
    border-radius: 8px;
    color: white;
}
.Hot-Deal-Image >img{
    width: 300px;
    height: 400px;
    padding-top: 20px;
}

/* Fifth Section Styles */

.Fifth-Section{
    max-width: 1000px;
    margin: 0 auto;
}
.Fifth-Section-Headline{
    text-align: center;
}
.Fifth-Section-Heading{
    font-size: 40px;
    margin-bottom: 0px;
}
.Fifth-Section-Description{
    margin: 10px 0px;
}
.Fifth-Section-Container{
    display: flex;
    justify-content: space-between;
    margin: 50px 0px;
}
.Fifth-Section-Content > img{
    width: 230px;
    height: 280px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Six Section Styles */

.Six-Section{
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 85px;
    margin-bottom: 85px;
}
.Letest-Deals-Container{
    background-image: url('images/Rectangle\ 9.png');
    width: 100%;
    height: 320px;
    margin-bottom: 50px;
}
.Letest-Deals-Content{
    text-align: center;
    padding-top: 40px;
}
.Letest-Deals-Content-Heading{
    font-size: 40px;
    margin-bottom: 0px;
}
.Letest-Deals-Content-Peragraph{
    color: #272727a0;
    margin: 0px 0px;
}
.Letest-Deals-Contact{
    margin: 30px 0px 0px 190px;
}
.Letest-Deals-Contact > input{
    padding: 15px 15px;
    width: 500px;
    border: none;
    border-radius: 5px;
}
.Letest-Deals-Contact-Button{
    padding: 15px 15px;
    background-color: #E55473;
    border: none;
    border-radius: 5px;
}

/* Footer Section Styles */

.Footer-Container{
    background-color: #111010;
    color: white;
    text-align: center;
    padding: 50px 0px;
}
.Footer-Header{
    font-size: 40px;
    margin-bottom: 15px;
}
.Footer-Header > span{
    color: #E55473;
}
.Footer-Copyright{
    color: #ffffff79;
}

/* Responsive Styles */
.Hide{
    display: none;
}
@media screen and (max-width:776px) {
    .Navber-Container{
        flex-direction: column;
        height: max-content;
    }
    .Navber-Content-Area{
        width: 90%;
        padding: 50px 0px 0px 20px;
    }
    .Navber-Content-Area-Heading{
        width: 100%;
        font-size: 35px;
        line-height: 45px;
    }
    .Navber-Content-Area-Discription{
        width: 100%;
        font-size: 16px;
        margin: 10px 0px;
    }
    .Navber-Container-Area-Image{
        
    }
    .Navber-Container-Area-Image > img{
        width: 100%;
    }
    .Navber-Content-Area-Button{
        margin-top: 50px;
    }
}